################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UVSim_Model/bin/Debug/net7.0
/UVSim_Model/obj
/UVSim_Model_UnitTests/bin/Debug/net7.0
/UVSim_Model_UnitTests/obj
/UVSim_View/bin/Debug/net7.0-windows10.0.19041.0/win10-x64
/UVSim_View/obj
/UVSim_ViewModel/obj
/UVSim_View/UVSim_View.csproj.user
/UVSim_View/bin/Debug/net7.0-maccatalyst/maccatalyst-x64
/UVSim_ViewModel/bin/Debug
/UVSim_View/bin/Debug/net7.0
/UVSim_Model/bin/Debug/net7.0-windows10.0.19041.0
/test.bml
/test2.bml
/test3.bml
/Test4.bml
/UVSim_Model/bin
/UVSim_View/bin/Release/net7.0-windows10.0.19041.0/win10-x64
/UVSim_ViewModel/bin
